/*common rule*/
:root {
  --light-grey: #e0e0e0;
  --grey: #474747;
  --green: #00aa6c;
  --pink: #ff5d5d;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
  font-family: "Trip Sans Reg";
  color: var(--grey);
}

i {
  font-family: "tripadvisor";
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Trip Sans Med";
  color: black;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

h1 span {
  color: var(--pink);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.container {
  padding: 0 24px;
  max-width: 1328px;
  margin: auto;
}

section {
  margin: 32px 0;
}

.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.section-title span {
  padding: 0 20px;
  background-color: white;
}

.section-title:before {
  display: block;
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom: 1px solid black;
}

/* HEADER */
header .container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: black;
}

header nav,
header input {
  display: none;
}

header .logo {
  height: 30px;
}

header .logo-input {
  display: flex;
  align-items: center;
}

/*Main nav*/
#main-nav nav {
  margin: 10px 0;
  font-weight: bold;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

#main-nav nav a {
  color: black;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px 12px;
}

#main-nav nav a span {
  margin-right: 15px;
}

#main-nav nav a:not(:last-child) {
  margin-right: 15px;
}

/*BANNER*/
#banner {
  padding: 0;
  height: 276px;
}

#banner .col-1 {
  position: relative;
  height: 100%;
}

#banner .col-2 {
  display: none;
}

#banner img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#banner img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

#banner .all-photos {
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

#banner .all-photos i {
  font-size: 1.2em;
}

/*breadcrumbs*/

#breadcrumbs {
  display: none;
}

/*Presentation*/
#presentation .summary {
  margin-bottom: 54px;
  font-family: Georgia;
}

#presentation .create {
  color: black;
  background-color: var(--pink);
  padding: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#presentation .create p {
  margin-bottom: 20px;
}

#presentation .create button {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 16px;
  outline: none;
  line-height: 20px;
  font-weight: bold;
  border: 0;
}

#presentation .trip img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*travel advice*/
#travel-advice .display-all {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

#travel-advice .topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  color: black;
  margin-bottom: 100px;
  font-size: 20px;
}

#travel-advice .topics img {
  height: 88px;
  display: block;
}

#travel-advice .topics a {
  padding: 0 8px;
  border: 2px #e0e0e0 solid;
  border-radius: 12px;
  width: calc(50% - 10px);
}

#travel-advice .topics a:nth-child(-n + 2) {
  margin-bottom: 20px;
}
