.devbox {
  border: 2px solid black;
  box-sizing: content-box;
}

.devbg-red {
  background-color: rgb(253, 177, 177);
}
.devbg-blue {
  background-color: rgb(209, 209, 255);
}
.devbg-grey {
  background-color: grey;
}
