@media (min-width: 1024px) {
  /*common rules*/

  /*HEADER*/
  header nav span {
    display: inline;
  }

  header .logo {
    height: 40px;
  }

  /*banner*/
  #banner {
    height: 372px;
  }

  #banner .col-2 {
    width: 402px;
  }
}
