@media (min-width: 1024px) {
  /*common rules*/

  /*HEADER*/
  header nav span {
    display: inline;
  }

  header .logo {
    height: 40px;
  }

  /*banner*/
  #banner {
    height: 372px;
  }

  #banner .col-2 {
    width: 402px;
  }

  /*Presentation*/

  #presentation .container {
    display: flex;
    justify-content: space-between;
  }

  #presentation .summary {
    flex: 7;
    padding-right: 60px;
  }

  #presentation .trip {
    display: block;
    flex: 6;
  }

  #presentation .create {
    border-bottom-left-radius: initial;
    border-top-right-radius: 20px;
  }

  #presentation .trip img {
    height: 200px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: initial;
  }

  /*travel advice*/
  #travel-advice .topics {
    flex-wrap: initial;
  }
  #travel-advice .topics a {
    flex: 1;
    width: initial;
    margin-bottom: 0 !important;
    padding: 8px 0;
  }

  #travel-advice .topics a:not(:last-child) {
    margin-right: 20px;
  }
}
