@media (min-width: 768px) {
  /*common rules*/
  h1 {
    font-size: 54px;
  }

  /***** HEADER *****/

  header .icon-menu_bars,
  header .icon-search,
  header nav span {
    display: none;
  }

  header .container {
    height: 60px;
    font-weight: bold;
  }

  header .logo-input {
    flex: 1;
  }

  header input {
    flex: 1;
    margin: 0 30px;
    display: block;
    outline: none;
    height: 36px;
    border-color: var(--light-grey);
    border-radius: 8px;
    max-width: 350px;
  }

  header .logo {
    height: 36px;
  }

  header nav,
  header nav a {
    display: flex;
    align-items: center;
  }

  header nav span {
    font-size: 16px;
    margin-left: 10px;
  }

  header nav a:not(:last-child) {
    margin-right: 30px;
  }
  header nav .button {
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 20px;
    background-color: black;
    font-weight: bold;
  }

  /*Main nav*/
  #main-nav nav {
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
  }

  #main-nav nav a {
    width: calc(100% / 4 - 20px);
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 0;
  }
  #main-nav nav a:not(:last-child) {
    margin-right: 0;
  }

  #main-nav nav a:nth-child(-n + 4) {
    margin-bottom: 20px;
  }

  #main-nav nav a span {
    margin: 0;
  }

  /*BANNER*/
  #banner {
    padding: 0 24px;
    display: flex;
  }

  #banner .col-1 {
    flex: 1;
    margin-right: 2px;
  }

  #banner .col-1 img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
  }

  #banner .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
  }

  #banner .col-2 img {
    height: calc(50% - 1px);
  }

  #banner .col-2 img:first-child {
    border-top-right-radius: 20px;
  }

  #banner .col-2 img:last-child {
    border-bottom-right-radius: 20px;
  }

  /*breadcrumbs*/

  #breadcrumbs {
    margin: 20px auto;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #breadcrumbs i {
    font-size: inherit;
  }

  #breadcrumbs > div a {
    margin: 0 4px;
  }

  #breadcrumbs > div a:first-child {
    margin-left: 0;
  }

  /*Presentation*/

  #presentation .summary {
    font-size: 20px;
  }

  #presentation .trip {
    display: flex;
  }

  #presentation .create {
    flex: 1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: initial;
  }

  #presentation .trip img {
    flex: 1;
    width: 50%;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*end media query*/
}
