@media (min-width: 1328px) {
  /*Common rules*/

  /*Main nav*/
  #main-nav nav .flights {
    display: none;
  }

  #main-nav nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #main-nav nav a {
    width: initial;
    margin-bottom: 0 !important;
    flex: 1;
  }

  #main-nav nav a:not(:last-child) {
    margin-right: 20px;
  }

  /*banner*/
  #banner {
    height: 430px;
  }

  #banner .col-2 {
    width: 480px;
  }

  /*TODOS*/

  #todos .carousel .todo {
    width: 307px;
  }

  #todos .carousel .todo img {
    height: 205px;
  }

  #todos .topic {
    flex: 1;
  }

  #todos .carousel {
    flex: 3;
  }
}
